_ide_helper.php
!.vscode/extensions.json
.env
.php_cs
.php_cs.cache
.php-cs-fixer.php
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
.vscode/*
.idea
*.clover
*.DS_Store
build
composer.lock
coverage
node_modules
npm-debug.log
vendor
yarn-error.log
